:root {
		--color-light: hsl(0 0% 95%);
		--color-sand: hsl(22 30% 75%);
		--color-camel: hsl(33 37% 51%);
		--color-copper: hsl(352 38% 32%);
		--color-chathams: hsl(190 20% 36%);
		--color-charcoal: hsl(186 10% 20%);
}

@font-face {
		font-family: "GentiumBookBasic";
		font-style: normal;
		font-weight: 400;
		src: url(../fonts/GentiumBookBasic-Regular.woff);
}
@font-face {
		font-family: "JosefinSans";
		font-style: normal;
		font-weight: 700;
		src: url(../fonts/JosefinSans-Bold.woff);
}
@font-face {
		font-family: "JosefinSans";
		font-style: italic;
		font-weight: 400;
		src: url(../fonts/JosefinSans-Italic.woff);
}
@font-face {
		font-family: "JosefinSans";
		font-style: normal;
		font-weight: 300;
		src: url(../fonts/JosefinSans-Light.woff);
}
@font-face {
		font-family: "JosefinSans";
		font-style: italic;
		font-weight: 300;
		src: url(../fonts/JosefinSans-LightItalic.woff);
}
@font-face {
		font-family: "JosefinSans";
		font-style: normal;
		font-weight: 400;
		src: url(../fonts/JosefinSans-Regular.woff);
}
html {
		font-size: 10px;
}

body {
		margin: 0;
		margin-top: 75px;
		background-color: var(--color-light);
		color: var(--color-charcoal);
		font-size: 2rem;
		font-family: "JosefinSans";
		font-weight: 300;
}

main {
		padding: 3rem 2rem;
		flex: 1;
		display: inline-block;
		flex-direction: column;
}

h1,
.h1 {
		font-size: 4rem;
		font-family: "GentiumBookBasic";
}

h2,
.h2 {
		font-size: 3rem;
		font-family: "GentiumBookBasic";
}

h3,
.h3 {
		font-size: 2rem;
		font-family: "GentiumBookBasic";
}

h4,
.h4 {
		font-size: 2rem;
		font-family: "JosefinSans";
		font-weight: 700;
}

h5,
.h5 {
		font-size: 2rem;
		font-family: "JosefinSans";
		font-style: italic;
}

h6,
.h6 {
		font-size: 1.5rem;
		font-family: "JosefinSans";
		font-weight: 300;
		font-style: italic;
}

a {
		text-decoration: none;
		color: inherit;
		border-bottom: 1px solid;
		font-weight: 400;
}
a:hover {
		font-weight: 700;
}

button,
.btn {
		height: 4rem;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 400;
		color: var(--color-light);
		background-color: var(--color-charcoal);
		padding: 1rem;
		margin: 0.8rem 0;
		border: none;
		border-radius: 0.5rem;
}
@media all and (min-width: 800px) {
		button,
.btn {
				width: 32rem;
		}
}
button:hover,
.btn:hover {
		background-color: #171c1c;
		font-weight: 400;
}

.btn--secondary {
		color: var(--color-charcoal);
		background-color: var(--color-sand);
}
.btn--secondary:hover {
		background-color: #c19f8b;
}

.topbar {
		height: 75px;
		background-color: var(--color-charcoal);
		color: var(--color-sand);
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 2rem;
		position: fixed;
		inset: 0 0 auto 0;
}
.topbar__logo {
		width: 15rem;
}

.nav {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		position: absolute;
		inset: 75px 0 0 auto;
		width: 80vw;
		margin: 0;
		height: calc(100vh - 75px);
		z-index: 1;
		padding: 2rem;
		background-color: rgba(46, 55, 56, 0.9);
		transform: translateX(100%);
		transition: all 1s ease-in-out;
}
@media all and (min-width: 800px) {
		.nav {
				flex: 1;
				flex-direction: row;
				position: relative;
				justify-content: right;
				align-items: center;
				height: auto;
				width: auto;
				inset: auto;
				transform: none;
		}
}
.nav-toggle {
		cursor: pointer;
}
.nav-toggle__label {
		margin: 0;
}
@media all and (min-width: 800px) {
		.nav-toggle {
				display: none;
		}
}
.nav-toggle__active {
		display: flex;
		flex-direction: column;
		justify-content: end;
		align-items: center;
		text-align: center;
}
.nav-toggle__disactive {
		display: none;
}
.nav__item {
		list-style: none;
		text-decoration: none;
		font-weight: 400;
		text-align: right;
}
.nav__item a {
		border: none;
}

.menu-mobile-active {
		transform: translateX(0);
}

.current-active-item {
		border-bottom: 2px solid;
		font-weight: 700;
}

footer {
		background-color: var(--color-chathams);
		color: var(--color-light);
		padding: 2rem 2rem 3rem 2rem;
		display: flex;
		gap: 3rem 1rem;
		flex-wrap: wrap;
		font-weight: 400;
		font-size: 1.5rem;
}
@media all and (min-width: 800px) {
		footer {
				padding: 2rem calc((100% - 800px) / 2) 3rem calc((100% - 800px) / 2);
		}
}
footer img {
		height: 50px;
		object-fit: contain;
		object-position: left;
}
footer p {
		margin: 0;
}

.footer__tittle {
		font-size: 2rem;
}
.footer__section {
		display: flex;
		gap: 1rem;
		flex: 0 0 calc(50% - 0.5rem);
}
.footer__contact {
		flex-direction: column;
}
.footer__menu-main {
		flex-direction: column;
		justify-content: end;
		align-items: end;
		text-align: right;
}
.footer__menu-secondary {
		flex-direction: column;
		justify-content: end;
		align-items: start;
}
.footer__copyright {
		justify-content: end;
		align-items: end;
		text-align: right;
}

.sticky-footer {
		display: flex;
		flex-direction: column;
		min-height: calc(100vh - 75px);
}

/*# sourceMappingURL=style.css.map */