button,
.btn {
    height: calc(6rem - 1rem * 2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    color: var(--color-light);
    background-color: var(--color-charcoal);
    padding: 1rem;
    margin: .8rem 0;
    border: none;
    border-radius: .5rem;

    @include mq ($bp-tablet) {
        width: 32rem;
    }

    &:hover {
        background-color: darken(hsl($color-charcoal), 10%);
        font-weight: 400;
    }
}

.btn--secondary {
    color: var(--color-charcoal);
    background-color: var(--color-sand);

    &:hover {
        background-color: darken(hsl($color-sand), 10%);
    }
}